<p>You entered:</p>

<%= @wordform.misswords %>
<%= form_for @madlib, url: book_madlib_path(@madlib.id) do |f| %>
<%= f.submit "Submit" %>
<% end %>
<p>Hit Submit to move forward or... </p>
<p>Edit your submission</p>
<%= form_for @wordform, url: {action: "update"} do |f| %>
  <% @wordform.words.gsub(/\n/, "").split(", ").each_with_index do |word, idx| %>
    <label><%= word %></label>
    <%= text_field_tag "misswords[]", params[:misswords][idx],
    :onclick => '{$(this).val("");};'
    %><br>
  <% end %>
  <%= f.submit "Submit" %>
  <% end %>
