
<p>This is your new story:</p>

<%= @madlib.title %><br />
<%= @madlib.story %><br />

<%= link_to "Edit", edit_book_madlib_path(@madlib.book_id, @madlib.id)%>

<form class="" action="/wordforms" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  <input type="hidden" name="madlib_id" value="<%= @madlib.id %>">
  <input type="submit" name="" value="Next">
</form>
