<div class="story-header">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>
        "<%= @wordform.madlib.title %>"
      </h1>
    </div>
  </div>

    <div class="row text-center">
    <div class="col-sm-12">
      <p>from the book:</p>
    <h2>
      <%= @madlib.book.title %>
    </h2>
  </div>
  </div>
</div>
<div class="word-submit-form">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>This story needs a total of <%= @wordform.count %> words.</p>
      <%= form_for(@wordform) do |f| %>
        <% if @wordform.errors.any? %>
            <% @wordform.errors.full_messages.each do |msg| %>
              <p class="word-errors">*<%= msg %>.</p>
            <% end %>
          <% end %>
      <% end %>
      <br />

      <% if @wordform.misswords.nil? %>
        <%= form_for @wordform, url: {action: "update"}, :html => {:class => "submit-words"} do |f| %>
          <% @wordform.words.gsub(/\n/, "").split(", ").each_with_index do |word, idx| %>
              <label><%= word %></label><br>
              <%= text_field_tag "misswords[]"%><br>
          <% end %>
          <%= f.submit "Submit", :class => "submit-button" %>
        <% end %>
        <% else %>
        <%= form_for @wordform, url: {action: "update"}, :html => {:class => "submit-words"} do |f| %>
          <% @wordform.words.gsub(/\n/, "").split(", ").each_with_index do |word, idx| %>
            <label><%= word %></label><br>
            <%= text_field_tag "misswords[]", params[:misswords][idx],
            :onclick => '{$(this).val("");};'
            %><br>
          <% end %>
          <%= f.submit "Submit", :class => "submit-button" %>
        <% end %>
      <% end %>
      <%= link_to "More Stories from the book " + @madlib.book.title, book_madlibs_path(@madlib.book_id) %>
    </div>
  </div>
</div>
