<h1>
  <%= @wordform.madlib.title %>
</h1>

<p>This story needs a total of <%= @wordform.count %> words.</p>

<br />

<% if @wordform.misswords.nil? %>
  <%= form_for @wordform, url: {action: "update"} do |f| %>
    <!-- <%= f.text_area :misswords, size: "40x12",
    placeholder: "Enter, words, with, a, comma, after, each, one" %> -->
    <% @wordform.words.gsub(/\n/, "").split(", ").each_with_index do |word, idx| %>
      <!-- <%= f.text_field :misswords,  placeholder: word%> -->
      <!-- <input name="wordform[misswords]"> -->
      <label><%= word %></label>
      <%= text_field_tag "misswords[]"
      %><br>
    <% end %>
    <%= f.submit "Submit" %>
  <% end %>
  <% else %>
  <%= form_for @wordform, url: {action: "update"} do |f| %>
    <!-- <%= f.text_area :misswords, size: "40x12", :misswords => params[:misswords] %> -->
    <% @wordform.words.gsub(/\n/, "").split(", ").each_with_index do |word, idx| %>
      <label><%= word %></label>
      <%= text_field_tag "misswords[]", params[:misswords][idx],
      :onclick => '{$(this).val("");};'
      %><br>
    <% end %>
    <%= f.submit "Submit" %>
  <% end %>
<% end %>


<%= form_for(@wordform) do |f| %>
  <% if @wordform.errors.any? %>
    <div>
      <ul>
      <% @wordform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
<% end %>

<%= link_to "Titles", books_path %>
