<h1 id="h1-overrides" class="home-page">
  <%=link_to @book.title, books_path %>
</h1>
<div class="container-fluid">


  <% if !current_user.nil? %>
    <% if current_user[:id] == @book.user_id %>
    <div class="row text-center madlibs-list-title-header">
      <div class="col-sm-4">
        <%= button_to "Write a story!", new_book_madlib_path, :method => :get, :class=>"madlibs-list-title-button get-writing" %>
      </div>
      <% if @book.exclusive == 1%>
      <div class="col-sm-4">
        <%= button_to "Make this book Public!", book_path(@book.id), :method => :patch, params: { exclusive: :false }, :class=>"madlibs-list-title-button make-exclusive" %>
      </div>
      <% else %>
      <div class="col-sm-4">
        <%= button_to "Make this book Private!", book_path(@book.id), :method => :patch, params: { exclusive: :true }, :class=>"madlibs-list-title-button make-exclusive" %>
      </div>
      <% end %>
      <div class="col-sm-4">
          <%= button_to "Delete this Book", @book, :method => :get, :class=>"madlibs-list-title-button get-deleting"  %>
      </div>
      <div class="col-sm-12 text-center explain-books">
          <p class="dropdown-toggle dropdown-explain" data-toggle="dropdown" >What does this mean?</p>
            <ul class="dropdown-menu" id="center-ul">
              <div class="col-sm-12 text-center">
                <li>When you make a book public that means other users<br>
                  can see it and play your stories.<br>
                  Don't worry, you will be the only person who can edit or<br>
                  delete your book and stories.<br>
                  You can also make it a private book again anytime.
                </li>
              </div>
            </ul>

      </div>
    </div>
    <% end %>
  <% end %>
<div class="madlibs-list-container">
  <div class="row madlibs-list">
    <% if @madlibs.empty? %>
    <div class="row text-center">
      <div class="col-sm-12">
        <h2>There are no stories for this book yet!</h2>
      </div>
      <div class="col-sm-12">
        <h2>Write one now!</h2>
      </div>
    </div>



    <% end %>
    <% @madlibs.each do |ml| %>
      <div class="col-sm-3 text-center madlibs-list-wrapper">
        <% if ml.wordform.misswords.nil? %>
          <%= link_to ml.title, wordform_path(ml.wordform.id), {:class=> "madlibs-list-title"} %>
        <% else %>
          <%= link_to ml.title, book_madlib_path(@book, ml.id), {:class=> "madlibs-list-title"} %>
        <% end %>
        <% if (current_user && current_user[:id] == @book.user_id) %>
        <div class="row text-center">
          <div class="col-sm-12">
              <%= link_to "Edit", edit_book_madlib_path(@book, ml.id), {:class=> "madlibs-list-edit"}%>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
              <%= link_to "Delete", book_madlib_path(@book, ml.id),
              :method => :delete,
              data: { confirm: "Are you sure? This cannot be undone"},
              :class => "madlibs-list-delete" %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
</div>
