
<div class="text-center madlibs-header">
  <div class="row">
    <div class="col-sm-12 h3-fun">
      <h3 class="">Create your own Madlibs!</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>for the book:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>"<%= @book.title %>"</h1>
    </div>
  </div>
</div>


<div class="text-center madlibs-form">
<div class="row">
  <p><%= flash[:error] %></p>
  <div class="col-sm-4">
    <p>Remember, you need to leave out some words.</p>
    <p>Simply input the words you want to leave out like this:</p>
    <p>Adjective: _adj_</p>
    <p>Noun: _noun_</p>
    <p>Verb: _verb_</p>
    <p>Example:</p>
    <div class="example">
      <p>Magda likes to _verb_.</p>
      <p>She is very _adj_!</p>
      <p>Does she know where the _noun_ is?</p>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="madlibs-form-wrapper">
      <form class="" action="/books/<%= @book.id %>/madlibs" method="post">
        <input
           name="authenticity_token"
           type="hidden"
           value="<%= form_authenticity_token %>">
           <input type="hidden" name="madlib[book_id]" value="<%= @book.id %>">
        <label for="title">Title:</label><br>
        <input type="text" name="madlib[title]" value=""><br />
        <label for="">Story:</label><br />
        <textarea type="text" name="madlib[story]" value="" rows="12" cols="40"></textarea><br>
        <input type="submit" name="" value="Create Madlib">
      </form>
    </div>
  </div>
</div>
</div>
