<h1>Create your own madlibs!</h1>
<p>The book you are working on is called <%= @book.title %></p>


<p><%= flash[:error] %></p>
<form class="" action="/books/<%= @book.id %>/madlibs" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
     <input type="hidden" name="madlib[book_id]" value="<%= @book.id %>">
  <label for="title">Title:</label>
  <input type="text" name="madlib[title]" value=""><br />
  <label for="">Story:</label><br />
  <textarea type="text" name="madlib[story]" value="" rows="12" cols="40"></textarea>
  <input type="submit" name="" value="Create Madlib">
</form>

<p>Remember, you need to leave out some words.</p>
<p>Simply input the words you want to leave out like this:</p>
<p>__adj__ for adjective or __noun__ for noun.
