
<h1><%= @madlib.title %></h1>

<% @madlib.story.split.each do |word| %>
  <% if word[0] == "_" %>
    <span style="color:red;"><%= word[0..5] %></span><span><%= word[6]%></span>
  <% else %>
    <span><%= word %></span>
  <% end %>
<% end %>

<p><%= link_to "Reset", edit_book_madlib_path(@madlib.book_id, @madlib.id, :reset => "true") %></p>
<p><%= link_to @madlib.book.title, book_madlibs_path(@madlib.book_id) %></p>
