<% action = (user.persisted? ? user_url(user) : users_url) %>
<% method = (user.persisted? ? "patch" : "post") %>
<% message = (user.persisted? ? "Update User" : "Sign Up") %>
<% updatemessage = (user.persisted? ? "Edit Account" : "Sign Up") %>
<h1 id="h1-overrides" class="home-page"><%= updatemessage %></h1>
<div class="container-fluid">
  <div class="row" id="login-row">
    <div class="col-sm-12 text-center">
<form action="<%= action %>" method="post" class="log-in-form">
  <input
     name="_method"
     type="hidden"
     value="<%= method %>">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="user_username" class="log-in-label">Username</label><br>
  <input
     id="user_username"
     name="user[username]"
     type="text"
     id="user_username" class="log-in-inputs"
     >
  <br>

  <label for="user_password" class="log-in-label">Password</label><br>
  <input
     id="user_password"
     name="user[password]"
     type="password"
     id="user_password" class="log-in-inputs"
     >
  <br>

  <input type="submit" class="log-in-inputs log-in-button" value="<%= message %>"><br>


        <%if current_user.nil? %>
          <a href="/auth/facebook">
          <button type="button" name="button" id="facebook-button">
            <i class="fa fa-facebook"></i>
            Signup with Facebook
          </button>
          </a>
        <% end %>
      </form>
    </div>
  </div>
</div>
