<% if current_user %>
<p>Hi <%= current_user[:username] %>!</p>

<form class="" action="/books" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  <label for="title">Enter the title of the book you'd like to make:</label>
  <input type="text" name="book[title]" value="">
  <input type="submit" name="" value="Create Book">
</form>

<p><%= flash[:error] %></p>

<% else %>
<p>
  <%= link_to "Login", session_path %> or
  <%= link_to "Signup", new_user_path %>
  to create a book!
</p>
<% end %>
