<!DOCTYPE html>
<html>
  <head>
    <title>Madlibs</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= render "searchoverlay" %>
    <%= render 'navbar' %>
    <% if !current_user.nil? %>
      <%= render 'usernavbar' %>
    <% else %>
      <%= render 'signupnav' %>
    <% end %>
    <%= yield %>
  </body>
</html>
