<!DOCTYPE html>
<html>
  <head>
    <title>Madlibs</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application',
    "https://fonts.googleapis.com/css?family=Coustard|IM+Fell+Double+Pica|IM+Fell+English|Lakki+Reddy",
    media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= render "searchoverlay" %>
    <%= render 'navbar' %>
    <% if !current_user.nil? %>
      <%= render 'usernavbar' %>
    <% else %>
      <%= render 'signupnav' %>
    <% end %>
    <%= yield %>
    <%= render 'footer'%>
  </body>
</html>
