<!DOCTYPE html>
<html>
  <head>
    <title>Madlibs</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= render "searchoverlay" %>
    <%= render 'navbar' %>


    <% if !current_user.nil? %>
      <h2>Hello <%= current_user.username.capitalize %>!</h2>
    <% end %>
    <%= yield %>
  </body>
</html>
