<!DOCTYPE html>
<html>
  <head>
    <title>Madlibs</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application',
    "https://fonts.googleapis.com/css?family=Coustard|IM+Fell+Double+Pica|IM+Fell+English|Lakki+Reddy",
    media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <header>
      <%= render "searchoverlay" %>
      <%= render 'navbar' %>
      <% if !current_user.nil? %>
        <%= render 'usernavbar' %>
      <% else %>
        <%= render 'signupnav' %>
      <% end %>
    </header>
    <div class="main-container">
      <%= yield %>
      <div class="clearFloat"></div>
    </div>
    <%= render 'footer'%>


  </body>
</html>
